.axis text {
  font: 10px sans-serif;
  fill: #999;
}

.axis path,
.axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.label {
  font: 10px sans-serif;
  fill: #999;
  dominant-baseline: middle;
}