.populationPyramid .bar {
  opacity: 0.6;
}

.populationPyramid .bar:hover {
  opacity: 1;
}

.populationPyramid .male .bar {
  fill: #1f77b4;
}

.populationPyramid .female .bar {
  fill: #e377c2;
}

.populationPyramid .axis text {
  font: 10px sans-serif;
  fill: #999;
}

.populationPyramid .axis path,
.populationPyramid .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.populationPyramid .y.axis text {
  text-anchor: middle;
  dominant-baseline: middle;
}

.populationPyramid .guides text {
  fill: none;
}

.populationPyramid .guides line {
  fill: none;
  stroke: #FFF;
  opacity: 0.25;
  shape-rendering: crispEdges;
}

.populationPyramid .guides > g:first-of-type {
  display: none;
}

.populationPyramid .value {
  font: 10px sans-serif;
  fill: #FFF;
  dominant-baseline: middle;
}

.populationPyramid .male .value {
  text-anchor: begin;
}

.populationPyramid .female .value {
  text-anchor: end;
}

.populationPyramid .label {
  font: 10px sans-serif;
  fill: #999;
}

.populationPyramid .male .label {
  text-anchor: end;
}
