.stackChart .axis text {
  font: 10px sans-serif;
  fill: #999;
}

.stackChart .axis path,
.stackChart .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.stackChart .label {
  font: 10px sans-serif;
  fill: #999;
  dominant-baseline: middle;
}
