text {
  font: 10px sans-serif;
  fill: #999;
}

.stackAreaChart .axis path,
.stackAreaChart .axis line {
  fill: none;
  stroke: #999;
  shape-rendering: crispEdges;
}

.stackAreaChart .last-period .label,
.stackAreaChart .label {
  fill: #999;
  dominant-baseline: middle;
}

.stackAreaChart .data .layer {
  opacity: 0.6;
}

.stackAreaChart .reference-data .layer {
  fill:none;
  opacity: 0.6;
  stroke:#000;
  stroke-width:1px;
  stroke-dasharray:4,2
}

.stackAreaChart .reference-data .layer text {
  fill:#999;
  stroke:none;
}
